@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #18181b;
    }
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    margin: 0px;
    padding: 0px;
}